<div class="row">
	<div class="span6 offset3">
		<%= form_for(@activity) do |f| %>

			
			
			<%= f.label :category %>
			<%= f.text_field :category %>

			<%= f.label :start_time %>
			<%= f.datetime_select :start_time, {ampm: true, minute_step: 15} %>

			<%= f.label :end_time %>
			<%= f.datetime_select :end_time, {ampm: true, minute_step: 15}  %>

			<%= f.label :comentario %>
			<%= f.text_area :comentario %>

			<%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

